@if (this.userService.isAdmin()) {
  <div class="px-4 md:px-8">
    <div class="max-w-lg mx-auto text-default">
      <div class="space-y-3 text-center">
        <p class="text-neutral text-4xl font-semibold sm:text-5xl">Página de administradores</p>
        <p>
          Solo los usuarios con rol Admin pueden acceder a esta página
        </p>
      </div>
      <div class="mt-12">
        <ul class="divide-y divide-primary">
          @for (navigation of navigations; track $index) {
          <li class="flex gap-x-4 py-6">
            <div
              class="flex-none w-14 h-14 bg-secondary rounded-full text-white flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
                />
              </svg>
            </div>
            <div class="space-y-1">
              <h4 class="text-neutral font-medium">{{ navigation.title }}</h4>
              <p>{{ navigation.desc }}</p>
              <a
                [routerLink]="navigation.path"
                class="text-sm text-primary duration-150 hover:text-accent font-medium inline-flex items-center gap-x-1"
              >
                Ir a la página
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </div>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
  } @else {
  <app-error-page
    [errorType]="'401 Error'"
    [errorTypeDescription]="'You do not have access to this page'"
  ></app-error-page>
  }
  