<section class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
  <h3
    class="text-center mb-5 font-bold text-neutral sm:text-2xl lg:text-3xl lg:leading-tight"
  >
    Salas dispoibles
  </h3>
  <!-- Grid -->
  <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
    @for (sala of salaService.salaList; track sala.id) {
    <article>
      <a
        class="group rounded-xl overflow-hidden"
        [routerLink]="'/sala/' + sala.id"
        [title]="'Ir a la página de ' + sala.nombre"
      >
        <div class="sm:flex">
          <div
            class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
          >
            <img
              class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 start-0 object-cover rounded-xl"
              [src]="sala.routeLocalhost"
              [alt]="sala.nombre + ' imagen'"
            />
          </div>
          <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
            <h3
              class="text-xl font-semibold text-default group-hover:text-neutral"
            >
              {{ sala.nombre }}
            </h3>
            <p class="mt-3 text-neutral">
              @if (sala.estaReservada) {
                Sala reservada
              } @else { 
                Sala disponible
              }
            </p>
            <p
              class="mt-4 inline-flex items-center gap-x-1 text-primary decoration-2 hover:underline font-medium"
            >
              Leer más sobre {{ sala.nombre }}
              <svg
                class="flex-shrink-0 w-4 h-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m9 18 6-6-6-6" />
              </svg>
            </p>
          </div>
        </div>
      </a>
    </article>
    }
  </div>
</section>
