<footer
  class="text-neutral bg-base-100 px-4 py-5 max-w-screen-xl mx-auto md:px-8"
>
  <div class="max-w-lg sm:mx-auto sm:text-center">
    <img src="/assets/imgs/logo.png" class="w-32 sm:mx-auto" alt="Page logo" />
    <p class="leading-relaxed text-neutral mt-2 text-[15px]">
      Crea y gestiona tus eventos con Hotel Tnf. Todo a tu alcance.
    </p>
  </div>
  <ul
    class="items-center justify-center mt-8 space-y-5 sm:flex sm:space-x-4 sm:space-y-0"
  >
    @for (item of navigation; track $index) {
    <li class="text-neutral hover:text-accent">
      <a [routerLink]="item.path" [title]="item.label"> {{ item.title }}</a>
    </li>
    }
  </ul>
  <div class="mt-8 items-center justify-between sm:flex">
    <div class="mt-4 text-neutral sm:mt-0">
      &copy; {{ year }} Rafael Gómez Guillén Todos los derechos reservados.
    </div>
    <div class="mt-6 sm:mt-0">
      <ul class="flex items-center space-x-4">
        @for (item of SocialMedias; track $index) { 
            <li
            class="w-10 h-10 border rounded-full flex items-center justify-center hover:border-accent"
          >
            <a [href]="item.href" [title]="item.title">
              <div [innerHTML]="item.svg"></div>
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</footer>

<style scoped>
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: currentColor;
  }
</style>
